<style>
  .helptext{
    display: none;
  }
</style>
{% load static %} 

 <link rel="stylesheet" href= "{% static 'css/accounts/flag.css' %}">


<h1> Registration Form </h1>  

<form id="personForm" style="display:flex; width:350px ;flex-direction: column; 
" method="post" data-cities-url="{% url 'ajax_load_cities' %}"
 enctype= "multipart/form-data" action ="{% url 'register_freelancer' %}">
    
    {% csrf_token %}
      {{ form }}
  
    <button type="submit">Submit</button>

    <h4>Have an account<a href= "{% url 'login' %}"> Login</a> </h4> 
    
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              console.log(data)  
              $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                
            }
        });

    });
</script>


