
<div> Profile Page </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% load static %} 

    <link rel="stylesheet" href = "{% static 'css/accounts/freelancer.css' %}">

<script>
    let pk = "{{object.pk}}"
    console.log(pk,"*************")
    localStorage.setItem('user_id',pk)
</script>
<script src="{% static 'scripts/register.js' %}" type="text/javascript"></script> 


<a href="{% url 'logout' %}"><button>Logout</button></a>
<div> <a href="/{{object.pk}}/freelancer_profile_update"><button>Edit</button></a></div>

<div class="profile_image"><img class="imgs" src="{{object.profile_pic.url}}"></div>


<p>UserName : {{object.username}} </p>
<p>Name : {{object.first_name}} {{object.lastname}}</p>
<p>Experience : {{object.years_of_experience}} </p>
<p>Bio : {{object.bio}}</p>


<p>Available Skills : 
    <span>{% for skill in standard_skills %}
    <button id ={{skill.name}} onclick='addSkill()'>{{skill.name}}</button>
    {% endfor %}
    </span>
</p>
<div id = 'skills'>
Skills :    
{% for skill in self_skills %} 
    <div id = {{skill.skill_name}} style="background-color: wheat;">
        
    Name: {{skill.skill_name }} ,

    Level :{{skill.level}}
    
    <label for="level"></label>

    <select  name="level" onchange="selectedLevel(event)" id={{skill.skill_name}}>
      <option value="BEG">"BEG"</option>
      <option value="INT">"INT"</option>
      <option value="EXP">"EXP"</option>
    </select>

    <button id="id_{{skill.skill_name}}" onclick="deleteSkill(event)">Delete</button>
    </div>
    {% endfor %} 
    

</div> 


<button onclick="addFormPop()">Add Skills</button>

<div id="formError" style="color:red"></div>
<form id="add_skillform"  class ="addSkillForm" style = "display:none;" >
    {% csrf_token %}
    
    {{add_skillform}}
    <input type="submit">
</form>

<div id = 'education_section'>
    Education : 
    {% for edu in education %}
        <span> {{edu.type}} : {{ edu.course}} </span>,

    {% endfor%}
    

</div> 
<button onclick="formPopup()"> Add</button>

<form method = 'post' id='education' class="education" style = "display:none;" action="/">
    {% csrf_token %}
{{edu_form}}

<input type="submit">

</form>

<p>Location : {{object.city}} ,{{object.country}},  </p>

<p>{{object.selfskills}}</p>
 


<img {{profile_pic}}>

