{% extends 'freelancer/home.html' %}

{% block head %}
    {{block.super}}
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/freelancer/feed.css' %}">
    <script src ="{% static 'scripts/freelancer/feed.js' %}" type="text/javascript"></script>
    
{% endblock head %}

{% block body %}
<div class="detailheadline" style="margin:auto;">
    <form method="get" action="{%url 'freelancer:freelancerfeed'%}">
        <button type="submit" style="width:100px;" name="feed" value="feed">Feed</button>
        <button type="submit" style="width:100px;" name ="showall" value="all_job">All_jobs</button>
    </form>
    
</div>
<div class="detailheadline" style="margin: auto;">
    <form method="get" action="{%url 'freelancer:freelancerfeed'%}">
        <input type="text" style="" name="search"  placeholder="search job by skills , title"> 
        <input type="submit">   
    </form>
</div>

    </div>
    <div class="all_feedwrapper">    
        
        {% if result %}
       
            {% for res in result %}

    <div class="post" >

                <div class = "imgpro">
                    
                    <div class="img">
                        {% if res.user.profile_pic %}
                            <img style="width:80px ;height:50px;" src="{{res.user.profile_pic.url}}" >
                        {% else %}
                            <img style="width:80px ;height:50px;" >
                        {% endif %}
                    </div>
                    <div>
                        <div style="font-weight:bold ; height:20px;" onclick="location.href='{%url 'client-profile' res.user.id %}'">{{res.user.username}}</div>
                        <div style="font-weight:light; font-family: sans-serif;"> post_id :{{res.id}}</div>
                    </div>
                </div>

                <div style=" margin-top: 10px;font-weight:bold ;">{{res.title|upper}}</div>
                
                <div>
                    
                <span style="color:mediumvioletred">Description :</span>
                    <p>{{res.description}}</p>
                        
                </div>
                <button onclick="location.href='{%url 'jobs:jobdetail' res.id %}'" style="height:40px; width:200px; margin-bottom:5px;">View Detail</button>
                <br>
            </div>
                {% endfor %}
        {% endif %}
        

    

    </div>

    

{% endblock body %}