<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
    <meta charset="UTF-8">

    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    {% block head %}
    <!-- <script href ="{% static 'scripts/jobs/jobpost.js' %}" type="text/javascript"></script> -->
    <link rel = "stylesheet" href = "{% static 'css/freelancer/home.css' %}">
    
    {% endblock head %}
</head>

<body>
    {% include "freelancer/navbar.html" %}
    {% block body %}
        Home 
    {% endblock body %}
    
</body>
</html>