<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
    <meta charset="UTF-8">

    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/jobs/browse_fl.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    </script>
    
    {% block head %}
    <!-- <script href ="{% static 'scripts/jobs/jobpost.js' %}" type="text/javascript"></script> -->
    <link rel = "stylesheet" href = "{% static 'css/freelancer/home.css' %}">
    
    {% endblock head %}
</head>

<body>
    {% include "freelancer/navbar.html" %}
    {% block my_proposal %}
    {% endblock my_proposal %}

    {% block body %}
        Home 
    {% endblock body %}
    
</body>
</html>