{% extends 'freelancer/home.html' %}

{% block body %}
<h1>MY Jobs</h1>
<script>
    function sendData(event,job_id,client_id,freelancer_id){
        localStorage.setItem('job_id', job_id)
        localStorage.setItem('rating_to', client_id)
        localStorage.setItem('rating_by', freelancer_id)
        console.log(freelancer_id,'***********')
        console.log(job_id,client_id,freelancer_id)
        location.href="{%url 'common:rating' %}"
    }
</script>

<div style="display: flex; flex-direction: column; background-color: grey;">
    {% if my_jobs %}
        {% for job in my_jobs %}
            <div class="job-wrapper" style=" display: flex;gap:5px;justify-content: space-evenly; align-items: center ;height: 150px;border: 1px solid black;background-color: white;" >
                <div>
                    <div style="font-weight: bold;"><a href="{% url 'jobs:jobdetail' job.job.id%}" >{{job.job.title}}</a></div>
                    <div>Job_id : {{job.job.id}}</div>
               </div>
               <div style="display:flex;flex-direction: column; gap: 40px;">
                    <div style="font-weight: bold;"> Rate Client </div>


                {% with job.job.review_set.all as review %}
                    {% if review %}
                        {% load custom_filter %}
                            {% with review|filter_queryset:user.id as r%}
                                {% if r %}
                                    <div>rated</div>
                                    {% with ''|center:r as range %}
                                        <div>
                                            {% for _ in range %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            {% load custom_filter %}
                    
                                            {% with 5|subtract:r as nonstar %}
                                                {% with ''|center:nonstar as non_star %}  
                                                    {% for _ in non_star %}
                                                        <span class="fa fa-star "></span>
                                                    {% endfor %}
                                                {% endwith %}
                                            {%endwith%}
                                        </div>
                                    {% endwith %}
                                {% else %}
                                <div onclick="sendData(event,'{{job.job.id}}','{{job.job.user.id}}','{{job.user.id}}')">          
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                {% endif %}
                    
                            {%endwith%}
                    {% else %}

                    <div onclick="sendData(event,'{{job.job.id}}','{{job.job.user.id}}','{{job.user.id}}')">          
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div> 
                    {% endif %}
                {%endwith%}
                            
            

               </div>
               <div>
                    <div style="font-weight: bold;"> Contract Details</div>
                    <table style="border:1px solid black;">
                        <tr style="border:1px solid black;">
                        <th style="border:1px solid black;">Total</th>
                        <th style="border:1px solid black;">Remaining</th>
                        <th style="border:1px solid black;">Currency</th>
                        </tr>
                        <tr>
                        <td style="border:1px solid black;">{{job.contract.total}}</td>
                        <td style="border:1px solid black;">{{job.contract.remaining}}</td>
                        <td style="border:1px solid black;">{{job.contract.currency}}</td>
                     
                        </tr>
                    
                    </table>
                </div>
                <div>
                    <a href="{%url 'payment:trans-view' job.contract.id%}">Transaction Details</a>
                </div>
                <div style="display: flex; gap:10px">
                    
                    <div><img style="width: 100px;height: 100px;" src="{{job.job.user.profile_pic.url}}"></div>
                    <div style="display: flex; flex-direction: column;">
                        <div style="font-weight: bold;">
                            <a href="{% url 'client-profile' job.job.user.id %}">{{job.job.user.username}}</a>
                        </div>
                        <div>{{job.job.user.email}}</div>
                    </div>
                    <div></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div>No Jobs </div>
    {% endif %}
</div>
{% endblock body %}