<nav class='nav' >
    <div>
    <h1> FreelancerHome </h1>
    </div>
    <div>
        <input type="text" placeholder=" Search...">
    </div>
    
    
    <div>
        <button><a href="{% url 'freelancer:freelancerfeed' %}">Feed </a></button>
        <button><a href="{% url 'jobs:clienthome' %}">AllJobs</a></button>
        <button ><a href="{% url 'jobs:createjob' %}">MyProposals</a></button>
        <button style="border-radius: 200%;"><a >Profile</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>
        
    </div>
</nav>