<nav class='nav' >
    <div>
    <h1> FreelancerHome </h1>
    </div>
    <div>
        <input type="text" placeholder=" Search...">
    </div>
    
    
    <div>
        <button ><a href="{% url 'freelancer:browse' %}">Browse</a></button>
        <button><a href="{% url 'freelancer:freelancerfeed' %}">Feed </a></button>
        <button><a href="{% url 'freelancer:my-jobs' %}">MyJobs</a></button>
        <button ><a href="{% url 'freelancer:myproposal' %}">MyProposals</a></button>
        <button style="border-radius: 200%;"><a href="{% url 'freelancer-profile' user.id %}">Profile</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>

    </div>

</nav>