.proposal-wrapper{
    display:flex;
    flex-direction: column;
    margin-top:50px;
    justify-content: space-between;
    gap: 15px;
    
    
}
.proposal-card{
    display: flex;
    flex-direction: column;
    background-color:lightgrey;
    margin:25px 20px 0px;

}

.frontline{
    display: flex;
    flex-direction: row ;
    gap:30px;
    margin-left: 25px ;
    margin-top:23px;
}

.detailprofile{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap:7px;
}

.checked {
    color: rgb(183, 59, 183);
  }
.checked:hover{
    background-color: orange;
}
.form-element{
    height: 50px;
}