.profile-box{
    display: flex;
    flex-direction: column;
    width :900px;
    height: 700px;
    background-color: lightgrey;
    border:2px solid black; 
}

.image-detail{
    display: flex;
    gap:20px;
    background-color: whitesmoke;
    height:250px;
}

.form-update-cl{
    display: flex;
    flex-direction: column;
    width:250px;
}
.checked{
    color:gray;
}
.rated{
    color:orange
}
.all-wrapper{
    display:flex;
    gap: 30px;
    margin-top: 10px;
}
.job-wrapper{
    margin:2px solid black;
    
}