{% extends 'jobs/home.html'%}

{% block head%}
{% load static %}
{{block.super}}
<script src="{% static 'scripts/jobs/jobpost.js' %}" type="text/javascript"></script> 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock head %}

{% block body %}
<h1>Create a job </h1>  
  <div style ="display: flex; ">
    <form method="post" action="{% url 'jobs:createjob' %}" style ="display: flex; flex-direction: column;">
        {% csrf_token %} 
        {{job_form}}
        <input type="submit">
    </form>
  </div>
<div>
<button onclick="formJobSkillAdd()">Add skill</button>
<h1>Add another skill</h1>
<form id="job_skillform"  class ="jobSkillForm" style = "display:none;" >
    {% csrf_token %}

    {{skill_form}}
    <input type="submit">
</form>
</div>

{% endblock body %}
