{% extends 'jobs/home.html' %} {% block head %} {{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
<link rel="stylesheet" href="{% static 'css/jobs/job_detail.css' %}">
<script>
    function formopen(event) {
        let formclass = document.getElementsByClassName('job_edit_form')[0]
        formclass.style.display = 'block';
    }

    function openProposalForm() {
        let formclass = document.getElementsByClassName('formearlier')[0]
        console.log(formclass.classList)
        formclass.classList.remove('formearlier');
        formclass.classList.add('popup');
    }


    function prepareResume(event) {

        let fileurl = event.target.value;
        let anchorTag = document.getElementById('proposal_resume')

        fetch(fileurl)
            .then((response) => response.blob())
            .then((blob) => {
                const objecturl = URL.createObjectURL(blob)
                anchorTag.setAttribute("href", objecturl)
            })
            .catch((error) => console.log(error))
    }

    function hideOpen(event) {

        let propDiv = document.getElementsByClassName('proposal_tab')[0]

        let detailDiv = document.getElementsByClassName('jobdetail')[0]

        console.log(event.target)
        if (event.target.value == 'detail') {
            propDiv.style.display = 'none'
            detailDiv.style.display = 'block'

        } else if (event.target.value == 'proposal') {
            detailDiv.style.display = 'none'
            propDiv.style.display = 'block'
        }

    }
</script>
{% endblock head%} {{user.is_authenticated}} {% block nav %} {% if user.id == object.user.id %} {{block.super}} {% elif user.id != object.user.id and perms.accounts.is_freelancer and user.is_authenticated %} {% include 'freelancer/navbar.html'%} {% endif%}
{% endblock nav %} {% block body %} {% if user.is_authenticated and user.id == object.user.id  %}
{% if object.status == 'OPEN'%}
    
<button style="margin-top: 10px;" onclick="formopen()">Edit</button>
<form style="display: none" class="job_edit_form" method="post">
    {% csrf_token %} {{job_form.as_div}}
    <input type="submit">
</form>
{%endif%}
{% endif %}



<div>
    <h1 style="width:160px;display:inline-block ;">{{object.title}} </h1>
    <span style="border-radius: 1rem;margin-bottom: 100px; ;background-color: rgb(124, 213, 160);">{{object.status|lower}}</span>
    <span style="margin-left:500px">{{object.posted_at}}</span>
</div>

<div class="detailheadline">
    <button class="headlinebutton" onclick="hideOpen(event)" value="detail">Details</button>
    <button class="headlinebutton" onclick="hideOpen(event)" value="proposal">Proposals</button>
</div>

{% if user.id != object.user.id and user.is_authenticated %}


<div class="Clientprofile">

    <div class='img'>
        {% if object.user.profile_pic %}
        <img style='width:300px  ;' src="{{object.user.profile_pic.url}}"> {% else %}
        <img style='width:300px  ;'> {% endif %}
    </div>
    <div style="display:flex;flex-direction: column;">

        <div>Username : {{object.user.username}}</div>
        <div>Member Since :{{object.user.date_joined}}</div>
        <div>Location :{{object.user.city}},{{object.user.country}} </div>
        <div style="color:green">Profile Completed </div>

    </div>

</div>
{% endif %}

<div class='jobdetail'>
    <div>
        <h1>Project Details</h1>
    </div>
    <p>{{object.description}}</p>
    <div>
        <h1>Skills Required</h1>
    </div>
    {% for skill in object.skill_required.all %}
    <span style="background-color: lightgrey; margin-left:10px;color:rgb(227, 50, 180);font-weight: bold ; border-radius: 2rem;" ;> 
            {{skill|title}}
        </span> {% endfor %}
    <div>
        <h1>Experience Required:</h1>
        <span sytle="font-weight: bold;">{{object.experience_required}} years</span>
    </div>
    <div>
        <h1>Duration and Salary </h1>
        <div>Duration : {{object.duration}} {{object.duration_type}}</div>
        <div>Salary : {{object.salary}} {{object.currency}} </div>

    </div>

    {% if user.id != object.user.id and user.is_authenticated %}
    <div class="formid">
        <form class="formearlier" method='Post' action="{% url 'jobs:job-proposal' %}" enctype="multipart/form-data">

            {% csrf_token %} {{proposal_form}}
            <input type="submit" placeholder="submit">
        </form>
    </div>
    {% if object.status == "OPEN" %} {% if not proposal_exist %}
    <div id="proposalform">
        <button onclick="openProposalForm()">Proposal</button>
    </div>
    {% else %}
    <div id="proposalform" class="proposal-button">
        <button disabled> Proposal Sent </button>
    </div>
    {%endif%}{%endif%} {% endif%}
</div>

<div class='proposal_tab' style="display:none;">
    <div class="proposal-wrapper">
        {% for proposal in job_proposols %}
        <div class="proposal-card">
            <div>
                <div class="frontline">
                    <div>
                        <img style="width:120px ;height:120px ;" src="{{proposal.user.profile_pic.url}}">
                    </div>
                    <div class="detailprofile">
                        <div> {{proposal.user.username}}</div>

                        <div style="font-weight: bold;">Bid : {% if object.currency == proposal.currency %} {{proposal.bid}} {{proposal.currency}} {% elif object.currency != proposol.currency %} {% load custom_filter %} {% if object.currency == "USD"%} {{proposal.bid|divide:83}} {{object.currency}}
                            {% elif object.currency == "RS" %} {% load custom_filter %} {{proposal.bid|multiply:83}} {{object.currency}} {% endif %} {% endif %}
                        </div>

                        <div>created_at: {{proposal.created_at}}</div>
                        <div> status : {{proposal.status}}</div>
                        <div>

                            {% with proposal.user.average_rating as r%} {% with ''|center:r as range %} {% for _ in range %}
                            <span class="fa fa-star checked"></span> {% endfor %} {% load custom_filter %} {% with 5|subtract:r as nonstar %} {% with ''|center:nonstar as non_star %} {% for _ in non_star %}
                            <span class="fa fa-star "></span> {% endfor %} {% endwith %} {%endwith%} {% endwith %} {% endwith %}
                        </div>
                    </div>


                    {% if user.is_authenticated and user.id == object.user.id %}
                    <div>
                        <a id="proposal_resume"><button value="{{proposal.resume.url}}" onclick="prepareResume(event)">Open Resume</button></a>
                    </div>

                    <div>
                        <form method="post" action="{% url 'jobs:create-contract' proposal.id %}">
                            {% csrf_token %} {% load custom_filter %} {% if proposal.job.status == "OPEN" %} {% if has_job %} {% load custom_filter %} {% with has_job|filter_proposal:proposal.user.id as job%} {% if job %}
                            <button>user already has job</button> {% else %}
                            <button id="accept-proposal" onclick="disableButton(event)" type="submit">Accept Proposal</button> {% endif %} {% endwith %} {% endif %} {% endif %}

                        </form>
                    </div>


                    {% endif %}

                </div>
            </div>

            <div style="margin-left: 40px;">
                <p>{{proposal.message}}</p>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}